* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

nav {
  border: grey solid 2px;
  background-color: grey;
  padding: 15px;
  font-size: 30px;
  width: 100%;
}

body {
  text-align: center;
}

footer {
  border: grey 2px solid;
  background-color: grey;
  bottom: 0;
  width: 100%;
  position: fixed;
}

main {
  display: flex;
}

.completed-todos,
.pending-todos {
  flex: 1;
  border-right: grey 2px solid;
}

ul li {
  padding: 0;
  list-style-type: none;
  border: grey 2px solid;
  margin: 10px;
  background-color: #e5e5e5;
}

ul {
  padding-left: 0;
}

.view-todo {
  flex: 2;
}

.view-todo-task {
  border: grey 2px solid;
  background-color: #e5e5e5;
  width: 75%;
  margin: 0 auto;
  padding: 25px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .completed-todos {
    display: none;
  }
}

@media screen and (min-width: 427px) {
  .completed-view {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .view-todo {
    display: none;
  }
}
